<div id="footer">
    <p class="lf">
        Copyright &copy; 2022 <a href="#">Vve's Movie Hunter</a> - All Rights
        Reserved
    </p>
    <p class="rf">
        Design by
        <a href="https://www.linkedin.com/in/viremaj">Oshevire Majoroh</a>
    </p>
    <div style="clear: both"></div>
</div>
</div>
<!-- END PAGE SOURCE -->
<script src="/javascripts/script.js"></script>
</body>

</html>