<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/login.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Vve's Movie Hunter</title>
</head>

<body>
    <!-- START PAGE SOURCE -->
    <div id="shell">
        <div id="header">
            <h1 id="logo"><a href="/movies">MovieHunter</a></h1>
            <div id="navigation">
                <ul>
                    <li><a class="active" href="/movies">HOME</a></li>
                    <li><a href="/users/dashboard">DASHBOARD</a></li>
                    <li><a href="/users/register">SIGN UP</a></li>
                    <li><a href="/users/login">LOGIN</a></li>
                    <li><a href="/users/logout">LOGOUT</a></li>
                </ul>
            </div>
        </div>