<%- include('header') %>
    <div id="main">
        <div class="form">
            <h3>SIGN IN TO SEE MOVIES</h3>
            <form id="form" action="/users/login" method="post">
                <div class="field">
                    <label>Email</label>
                    <input name="email" class="form-field" placeholder="Enter Your Email" type="email">
                </div>
                <div class="field">
                    <label>Password</label>
                    <input name="password" class="form-field" placeholder="Fill In Your Password" type="password">
                </div>
                <button type="submit" class="subBtn">LOGIN</button>
            </form>
        </div>
    </div>
    <%- include('news') %>
        <%- include('footer') %>
            <!-- "tsc": "./node_modules/typescript/bin/tsc", -->